{% extends "base.html" %}

{% block extraCss %}
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/login_styles.css')}}">
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>HIDROAPP </h3>
            <h3>Registro </h3>

        </div>
        <div class="card-body">
            <form method="POST" action="/signup" class="needs-validation" novalidate>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email del usuario" required>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        {{ messages[0] }}. Ir a <a href="{{ url_for('auth.login') }}">Página de Ingreso</a>.
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="alert alert-danger invalid-feedback" style="margin-bottom: 0px !important;">
                        Por favor ingrese un email valido
                      </div>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input name="username" type="text" class="form-control" placeholder="Nombre de usuario" required>
                    <div class="alert alert-danger invalid-feedback" style="margin-bottom: 0px !important;">
                        Por favor ingrese un nombre de usuario valido
                      </div>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input name="password" type="password" class="form-control" minlength="8" placeholder="Contraseña" required>
                    <div class="alert alert-danger invalid-feedback" style="margin-bottom: 0px !important;">
                      La contraseña debe contar con al menos 8 caracteres
                      </div>
                </div>
                <div class="form-group">
                    <a href="{{url_for('auth.login')}}" class="btn float-right btn-danger">Cancelar</a>
                    <input type="submit" value="Guardar Registro" class="btn  float-right btn-info">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}