{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">Calculo de Estructura </h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><b>Vertedero de Cresta Larga</b></li>
</ol>

<div class="row">
    <div class="col-md-7">
        <div class="card mb-4">
            <div class="card-body">
                <form id="form" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputFirstName">Caudal Máximo</label>
                                <input required class="form-control " id="inputFirstName" type="text" placeholder="Caudal Q1" />
                                <div class="invalid-feedback">Ingrese un valor de caudal máximo válido</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Caudal de diseño</label>
                                <input required class="form-control " id="inputLastName" type="text" placeholder="Caudal Qd" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Pendiente del canal</label>
                                <input required class="form-control " id="inputLastName" type="text" placeholder="Pendiente " />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Base del Canal</label>
                                <input required class="form-control " id="inputLastName" type="text" placeholder="Base " />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                        <input required class="form-control" id="inputEmailAddress" type="email"
                            aria-describedby="emailHelp" placeholder="Enter email address" />
                    </div> -->

                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputFirstName">Rugosidad</label>
                                <input required class="form-control mt-3 " id="inputFirstName" type="text" placeholder="Rugosidad" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Talud</label>
                                <input required class="form-control mt-3 " id="inputLastName" type="text" placeholder="Talud" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Altura del Canal Aguas Arriba</label>
                                <input required class="form-control " id="inputLastName" type="text" placeholder="Altura " />
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block"
                        href="#resultado" onclick="sendForm()">Calcular</a></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12"><img style="width: inherit;" src="/static/images/vertedero.jpg" alt=""></div>
                </div>
                <div id="resultado" style="display: none;">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Longitud Cresta Vertedero
                                    (m):</label>
                                <input class="form-control " id="inputLastName" type="number" min="1"
                                    placeholder="Longitud " disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Ángulo de inclinación:</label>
                                <input class="form-control mt-3" id="inputLastName" type="number" min="1"
                                    placeholder="Ángulo " disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Ancho de la cresta
                                    (m):</label>
                                <input class="form-control mt-3" id="inputLastName" type="number" min="1"
                                    placeholder="Ancho " disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Ancho de entrada de la cresta
                                    (m):</label>
                                <input class="form-control " id="inputLastName" type="number" min="1"
                                    placeholder="Ancho " disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Tirante del vertedero (m):</label>
                                <input class="form-control mt-3" id="inputLastName" type="number" min="1"
                                    placeholder="Tirante " disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Tirante normal de la entrada y la salida
                                    (m):</label>
                                <input class="form-control " id="inputLastName" type="number" min="1"
                                    placeholder="Tirante " disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Altura del vertedero H2:</label>
                                <input class="form-control mt-3" id="inputLastName" type="number" min="1"
                                    placeholder="Altura" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Altura del agua de entrada
                                    (m):</label>
                                <input class="form-control " id="inputLastName" type="number" min="1"
                                    placeholder="Altura " disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extraJs %}
<script>
    function sendForm() {
        
        if($("#form")[0].checkValidity() != false){
            $('#resultado').show();
        }
        // $("#form").submit();
    }    
</script>

{% endblock %}