<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tablas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Ultimate-Sidebar-Menu.css">
</head>

<body style="font-size: -2px;height: 100%;width: 100%;">
    <div style="font-size: -2px;">
        <div class="container" style="font-size: -2px;">
            <div class="row" style="font-size: -2px;">
                <div class="clearfix" style="font-size: -2px;"></div>
                <div class="clearfix" style="font-size: -2px;"></div>
                <div class="clearfix" style="font-size: -2px;"></div>
                <div class="clearfix" style="font-size: -2px;"></div>
                <div class="clearfix" style="font-size: -2px;"></div>
            </div>
        </div>
    </div>
    <div style="font-size: -2px;"></div>
    <header></header>
    <div style="width: 100%;margin-top: 0px;margin-bottom: 0px;height: 100%;font-size: 14px;">
        <div class="container shadow" style="margin-right: 0;margin-left: 16%;height: 100%;margin-top: 0;width: 100%;">
            <div class="row" style="margin-left: -4px;height: 100%;margin-top: 0px;">
                <div class="col-md-6" style="padding-right: 0px;padding-left: 0px;margin-bottom: 10px;margin-top: 10px;height: 96%;">
                    <div class="card" style="font-size: -2px;height: 100%;font-family: Lato, sans-serif;">
                        <div class="card" style="font-size: -2px;height: 100%;padding-top: 0px;padding-bottom: 10px;">
                            <div class="card-header" style="font-size: -2px;">
                                <h5 class="mb-0" style="font-size: -1px;">Tipo:&nbsp;<select style="font-size: -2px;"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></h5>
                            </div>
                            <div class="card-body text-left d-block float-left" style="font-size: -2px;padding: 12px;padding-top: 6px;padding-bottom: 6px;height: 78px;">
                                <h1 class="display-1" style="font-size: 20px;font-weight:bold;">Entrada Estructura</h1>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Caudal de llegada&nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Tirante del agua&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Solera del canal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Talud de las paredes&nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Rugosidad&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Caudal de llegada&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Ancho del partidor&nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Cota base&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;alt: &quot;Transición de entrada&quot;;">Transición de E.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-left d-block float-left" style="font-size: -2px;padding: 12px;padding-top: 0px;padding-bottom: 0px;height: 186px;">
                                <hr>
                                <h1 class="display-1" style="font-size: 20px;font-weight: bold;margin-top: -12px;"><strong>Aguas&nbsp; abajo</strong></h1>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Caudal de llegada&nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Tirante del agua&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Solera del canal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Talud de las paredes&nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Cota&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <hr style="margin-top: -3px;">
                                <h1 class="display-1" style="font-size: 20px;font-weight:bold;"><strong>Canal lateral</strong></h1>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Caudal de llegada&nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Tirante del agua&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Solera del canal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Talud de las paredes&nbsp; &nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="width: 250px;float: left;font-size: -2px;height: 40px;">
                                        <form style="width: 60px;font-size: -2px;">
                                            <div class="form-group" style="width: 60px;font-size: -2px;"><label class="d-flex" style="width: 225px;font-size: 16px;height: 35px;margin-bottom: 0px;">Cota&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control" type="number" style="width: 46px;font-size: 16px;height: 24px;padding-right: 0px;padding-top: 3px;padding-bottom: 3px;" max="99" min="0"></label></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-top: 10px;font-family: Lato, sans-serif;"><img class="rounded border" style="width: 98%;height: 46%;text-align: center;">
                    <div class="row" style="height: 76px;">
                        <div class="col" style="width: 100%;float: left;font-size: -2px;height: 76px;margin-top: 20px;">
                            <form style="width: 60px;font-size: -2px;">
                                <div class="form-group" style="width: 60px;font-size: -2px;"><label style="width: 350px;font-size: 18px;">Energía inicial y mínima&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control d-inline-flex" type="number" style="width: 50px;font-size: 20px;height: 30px;" readonly="">&nbsp;m</label></div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="height: 56px;">
                        <div class="col" style="width: 100%;float: left;font-size: -2px;height: 76px;">
                            <form style="width: 60px;font-size: -2px;">
                                <div class="form-group" style="width: 60px;font-size: -2px;"><label style="width: 350px;font-size: 18px;">Altura del vertedero&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control d-inline-flex" type="number" style="width: 50px;font-size: 20px;height: 30px;" readonly="">&nbsp;m<br></label></div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="height: 58px;">
                        <div class="col" style="width: 100%;float: left;font-size: -2px;height: 65px;">
                            <form style="width: 60px;font-size: -2px;">
                                <div class="form-group" style="width: 60px;font-size: -2px;"><label style="width: 350px;font-size: 18px;">Anchos a derivar*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input class="form-control d-inline-flex" type="number" style="width: 50px;font-size: 20px;height: 30px;" readonly="">&nbsp;m<br></label></div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="width: 100%;float: left;font-size: -2px;height: 76px;">
                            <form style="width: 60px;font-size: -2px;">
                                <div class="form-group" style="width: 60px;font-size: -2px;"><label style="width: 350px;font-size: 18px;">No. De Froude&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input class="form-control d-inline-flex" type="number" style="width: 50px;font-size: 20px;height: 30px;" readonly=""><br></label></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div>
        <div class="shadow sidebar" style="background: #0278ae;width: 16%;">
            <div class="text-center border-primary shadow-sm brand"><a class="navbar-brand text-center text-white" href="index.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;">Logo</a></div>
            <nav class="navbar navbar-dark navbar-expand text-center align-items-center align-content-center align-self-center"
                style="text-align: center;font-family: Lato, sans-serif;">
                <div class="container-fluid">
                    <ul class="nav navbar-nav text-center flex-fill align-items-center align-content-center align-self-center mr-auto flex-column mr-auto" style="text-align: center;width: 176px;">
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Cálculo</a></li>
                        <li class="nav-item text-center text-white border rounded shadow"
                            style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Historial</a></li>
                        <li class="nav-item text-center text-white border rounded shadow"
                            style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Administración</a></li>
                        <li class="nav-item text-center text-white border rounded shadow"
                            style="text-align: center;margin: 2px;"></li>
                    </ul>
                </div>
            </nav>
            <ul class="nav flex-column text-center flex-fill align-items-center align-content-center align-self-center mr-auto flex-column mr-auto" style="text-align: center;">
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center border rounded shadow" style="text-align: center;margin: 2px;width: 170px;"></li>
                <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 2px;"></li>
                <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 0;margin-top: 3px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 0;width: 170px;margin-top: 0px;">Salir</a></li>
            </ul>
        </div>
        <div class="overlay"></div>
    </div>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Ultimate-Sidebar-Menu.js"></script>
</body>

</html>