<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tablas</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/Ultimate-Sidebar-Menu.css">
</head>

<body style="font-size: 17px;">
    <div>
        <div class="container">
            <div class="row">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xl-9 offset-lg-3 offset-xl-3">
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="card">
                    <div class="card-body border-warning" style="margin: 0px;">
                        <p class="card-text"></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Usuarios</th>
                                        <th class="text-center">Modificar</th>
                                        <th class="text-center">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header></header>
    <div>
        <div class="sidebar" style="background: #0278ae;">
            <div class="text-center border-light shadow-sm brand"><a class="navbar-brand text-center text-white" href="index.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;">Logo</a></div>
            <nav class="navbar navbar-dark navbar-expand text-center align-items-center align-content-center align-self-center"
                style="text-align: center;font-family: Lato, sans-serif;">
                <div class="container-fluid">
                    <ul class="nav navbar-nav text-center flex-fill align-items-center align-content-center align-self-center mr-auto flex-column mr-auto" style="text-align: center;">
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center"></li>
                        <li class="nav-item text-center border rounded shadow" style="text-align: center;margin: 2px;width: 170px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;">Cálculo</a></li>
                        <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Historial</a></li>
                        <li class="nav-item text-center text-white border rounded shadow"
                            style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Administración</a></li>
                        <li class="nav-item text-center text-white border rounded shadow"
                            style="text-align: center;margin: 2px;"></li>
                    </ul>
                </div>
            </nav>
            <ul class="nav flex-column text-center flex-fill align-items-center align-content-center align-self-center mr-auto flex-column mr-auto" style="text-align: center;">
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center"></li>
                <li class="nav-item text-center border rounded shadow" style="text-align: center;margin: 2px;width: 170px;"></li>
                <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 2px;"></li>
                <li class="nav-item text-center text-white border rounded shadow" style="text-align: center;margin: 2px;"><a class="nav-link text-center text-white" href="page2.html" style="font-family: Lato, sans-serif;color: fff;text-align: center;margin: 2px;width: 170px;">Salir</a></li>
            </ul>
        </div>
        <div class="overlay"></div>
    </div>
    <div></div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/Ultimate-Sidebar-Menu.js"></script>
</body>

</html>